<div id="aboutus" class="container bg-light py-5 mt-2">
  <h1 class="display-5 fw-bold">About Us</h1>
  <p class="col-md-8 fs-4">Meet the team behind Driver Quiz Buddy!</p>

  <div class="team-container">
    <div class="team-row">
      <div class="team-member">
        <a href="https://ca.linkedin.com/in/katie-liu-ab36bb31" target="_blank">
          <img src="/assets/images/aboutus/katie.png" alt="Katie Liu" />
          <h2>Katie Liu</h2>
        </a>
        <p class="role">Developer</p>
        <p>
          Katie is the brain behind our interactive learning tools. With a
          passion for technology and education, she ensures that the Driver Quiz
          Buddy platform is innovative and user-friendly.
        </p>
      </div>
    </div>
    <div class="team-row">
      <div class="team-member">
        <img src="/assets/images/aboutus/emily.png" alt="Emily Touesnard" />
        <h2>Emily Touesnard</h2>

        <p class="role">Graphic Designer</p>
        <p>
          Emily's creative insights bring visual appeal to our quizzes. Her
          designs engage users and make learning an enjoyable experience.
        </p>
      </div>
      <div class="team-member">
        <img src="/assets/images/aboutus/irving.png" alt="Irving Mendez" />
        <h2>Irving Mendez</h2>

        <p class="role">Graphic Designer</p>
        <p>
          Irving makes our content accessible and attractive and ensures
          high-quality visuals across our platforms.
        </p>
      </div>
    </div>
  </div>
</div>
