h1 {
  font-weight: 900;
  color: #353d44;
  font-family: "Nunito", sans-serif !important;
  font-size: 2.4em;
}

#aboutus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: calc(100vh - 3rem);
}

.team-container {
  width: 100%;
  max-width: 66.666%;
  margin-top: 20px;
}

.team-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  text-align: center;
}

.team-member img {
  width: auto;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

.team-member h2,
.team-member p,
.team-member .role {
  width: 100%;
}

.team-member h2 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #353d44;
  font-size: 1.6em;
  margin-top: 10px;
  margin-bottom: 4px;
}

.team-member .role {
  font-weight: bold;
  color: #5b99d2;
  margin-bottom: 9px;
}

.team-member p {
  font-size: 1em;
}

.team-member a {
  text-decoration: none;
  color: inherit;
  display: inline-block;

  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}
