.card{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}
li{
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
}
li .card:hover{
    border: 1px solid blue;
}
ol{
    padding: 0;
}

.disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}

h1 {
    font-weight: 900;
    color: #353d44;
    font-family: 'Nunito', sans-serif !important;
    font-size: 2em;
}

h2 {
    font-weight: 800;
    color: #66a9e8;
    font-size: 1.8em;
    font-family: 'Nunito', sans-serif !important;
}

h3 {
    font-weight: 800;
    color: #353d44;
    font-size: 1.5em;
    font-family: 'Nunito', sans-serif !important;

}

h4 {
    font-weight: 800;
    color: #8b939c;
}

h5 {
    font-weight: 800;
    color: #353d44;
    font-size: 1.2em;
}

span {
    font-weight: 900;
    color: #353d44;
    font-size: 1.2em;
}

.question h3 {
  white-space: pre-line;
}
