<div class="container mt-5">
  <div class="card">
    <div class="d-flex justify-content-between p-3">
      <div class="image">
        <img src="{{logoUrl}}" height="90" [alt]="quizName + ' logo'">
      </div>
      <div class="quiz-header">
        <h2 style="font-family: 'Nunito', sans-serif;">{{quizName}}</h2>
      </div>
    </div>

    <ng-container *ngIf="!isQuizCompleted">
      <div class="d-flex justify-content-around py-3">
        <div class="score">
          <h5>{{points}} Points</h5>
        </div>
        <div class="question-remain">
          <span style="font-style: italic;">Question {{currentQuestion+1}} of {{questionList.length}}</span>
        </div>
        <div class="timer" *ngIf="useTimer">
          <h5>{{counter}} sec ⏱️</h5>
        </div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width':progress+'%'}"
          aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <div class="question">
        <div class="card">
          <h3 [innerHTML]="questionList[currentQuestion]?.questionText"></h3>
          <img *ngIf="questionList[currentQuestion]?.image" [src]="questionList[currentQuestion]?.image"
            style="max-height: 200px; width: auto; height: auto; object-fit: contain;">
        </div>
      </div>

      <!-- Multiple Choice Mode -->
      <div class="options" *ngIf="!isExactMatch">
        <ol *ngFor="let option of questionList[currentQuestion]?.options; index as i">
          <li>
            <div appChangeBg [isCorrect]="option.correct" [question]="questionList[currentQuestion]" [selectedIndex]="i"
              [isQuestionAnswered]="isQuestionAnswered" class="card" [tabindex]="0" [attr.data-index]="i"
              (click)="handleAnswer(currentQuestion, option, i, $event)"
              (keyup.enter)="handleAnswer(currentQuestion, option, i, $event)" [innerHTML]="option.text">
            </div>
          </li>
        </ol>
      </div>
      <div class="feedback-section mt-3" *ngIf="feedback && !isExactMatch">
        <div class="alert alert-info d-flex align-items-center">
          <span class="material-icons" style="font-size: 18px ; color: #0c5460; margin-right: 10px;">info_outline</span>
          <div [innerHTML]="feedback"></div>
        </div>
      </div>

      <!-- Text Input Mode -->
      <div class="answer-section" *ngIf="isExactMatch">
        <div class="math-container mt-2 p-2" style="min-height: 36px; font-size: 1.5rem;">
          <div [innerHTML]="formattedMathAnswer"></div>
        </div>

        <div class="form-group">
          <input #answerInput type="text" placeholder="Type your answer here" [formControl]="userAnswer"
            class="form-control" [attr.data-index]="0" [tabindex]="0" [readonly]="isQuestionAnswered">
        </div>

        <div class="mt-3 mb-4">
          <button class="btn btn-primary" (click)="submitTextAnswer()"
            [disabled]="isQuestionAnswered || !userAnswer.value">
            Submit Answer
          </button>
          <div class="alert mt-3" *ngIf="feedback" [ngClass]="{'alert-success': isCorrect, 'alert-danger': !isCorrect}"
            [innerHTML]="feedback">
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between p-3">
        <button [disabled]="currentQuestion===0" class="btn" (click)="previousQuestion()">
          <i class="fa text-primary fa-chevron-left fa-3x" aria-hidden="true"></i>
        </button>
        <button class="btn" (click)="resetQuestion()">
          <i class="fa text-primary fa-rotate-right fa-3x"></i>
        </button>
        <button class="btn" (click)="nextQuestion()">
          <i class="fa text-primary fa-chevron-right fa-3x" aria-hidden="true"></i>
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="isQuizCompleted">
      <div class="row d-flow justify-content-between">
        <img style="width: 50%;" src="https://icon-library.com/images/celebration-icon-png/celebration-icon-png-7.jpg"
          alt="">
        <div class="result text-center col-md-6 col-sm-12">
          <h3>Congratulations!! <br>You have completed the quiz. <br>Below is your result:</h3>
          <!-- <p>Total Questions Attempted : {{questionList.length}} </p> -->
          <p>Total Correct Answered : {{correctAnswer}} </p>
          <p>Total Wrong Answered : {{incorrectAnswer}} </p>
          <!-- <p>Your Score : {{points}} / {{questionList.length}}</p> -->
        </div>
      </div>
    </ng-container>
  </div>
</div>
