<div id="welcome" class="container bg-light py-5 mt-2">
    <h1 class="display-5 fw-bold">Welcome to Driver Quiz Buddy</h1>
    <p class="col-md-8 fs-4">Practice for the Ontario G1 Driver's Test with our quiz!</p>
    <h4>Rules</h4>
    <ul>
        <li>You will have 30 sec to answer each question</li>
        <li>Refreshing the page will reset the quiz</li>
    </ul>
    <!-- <h1 style="font-family: cursive;text-align:center">All the best!</h1> -->
    <!-- <div class="name col-md-4 my-3">
        <label for="">Enter your name:</label>
        <input #name type="text" class="form-control">
    </div> -->
    <br/>
    <!-- routerLink='/question' -->
    <button class="btn btn-primary btn-lg shadow p-3 mb-2" (click)="navigate('Rules of the Road');">Rules of the Road Quiz</button>
    <p></p>
    <button class="btn btn-primary btn-lg shadow p-3 mb-2" (click)="navigate('Road Signs');">Road Signs Quiz</button>
</div>
