<div id="welcome" class="container bg-light py-5 mt-2">
  <h1 class="display-5 fw-bold">Welcome to TVO ILC Quiz Buddy</h1>
  <p class="col-md-8 fs-4">Practice for your TVO ILC final exam!</p>
  <h4>Rules</h4>
  <ul>
    <li>Type out your answer and press Enter or the Submit button</li>
    <li>For math answers, use <a href="https://asciimath.org/">AsciiMath</a> notation for fractions, special symbols, etc.</li>
    <ul>
      <li>sqrt(2) -> `sqrt(2)`</li>
      <li>pi -> `pi`</li>
      <li>in -> `in`</li>
      <li>ne -> `ne`</li>
      <li>beta -> `beta`</li>
      <li>theta -> `theta`</li>
    </ul>
  </ul>
  <!-- <h1 style="font-family: cursive;text-align:center">All the best!</h1> -->
  <!-- <div class="name col-md-4 my-3">
      <label for="">Enter your name:</label>
      <input #name type="text" class="form-control">
  </div> -->
  <br />
  <!-- routerLink='/question' -->
  <button
    class="btn btn-primary btn-lg shadow p-3 mb-2"
    (click)="navigate('MHF4U Formulas')"
  >
    MHF4U
  </button>
  <p></p>
</div>
