#welcome {
  min-height: calc(100vh - 72px);
}

h1 {
  font-weight: 900;
  color: #353d44;
  font-family: "Nunito", sans-serif !important;
  font-size: 2.4em;
}

h4 {
  font-weight: 900;
  font-family: "Nunito", sans-serif !important;
  font-size: 1.4em;
  margin-top: 30px;
  margin-bottom: 6px;
}
